<footer class="footer">
  <small>
    Gearhead by <a href="http://runongirlrunon.github.com/">Lindsey Anne</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
